html,body{
  margin: 0;
  padding: 0;
}

img{
  max-width: 100%;
  vertical-align: top;
}
h1{
    margin-top: 10px;
}
/*header*/
.img-menu{
  width: 150px;
    margin: 10px auto;
}
.header{
    position: relative;
    overflow: hidden;
    padding: 20px;
    background: #323A45;
    color: #f2f2f2;
    border-bottom: 2px solid #24282E;
}
.header h1{
  display: inline-block;
}
.logout{
    background: #9c4c9d;
    /*border-radius: 5px;*/
}
.hidden-menu{
    position: absolute;
    background: #323A45;
    width: 300px;
    overflow: hidden;
    display: none;
}
.hidden-menu h4{
    color: #f2f2f2;
}
ul.menu{
    background: inherit;
    padding-left: 0;
}
ul.menu li {
    padding: 0;
}
ul.menu li>a{
    padding: 20px 30px;
    color: lightgray;
    display: block;
}
ul.menu li>a:active{
    background: #9c4c9d;
}
ul.menu li>a:hover{
    background: #EE4c99;
}
.icon-menu span {
    color: #f2f2f2;
    font-size: 30px;
    cursor: pointer;
}


